@import url(./add-expense.css);
@import url(./modal.css);
@import url(./history.css);
@import url(./status.css);

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f5f5f5;
}
.container {
  margin: 0 auto;
  width: 800px;
}
.expense-app__title {
  margin: 20px 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}



