@import url(./manage.css);
@import url(./history.css);
@import url(./stats.css);
@import url(./popup.css);

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #f5f5f5;
  color: #424242;
}
.body_fixed {
  overflow: hidden;
}
.container {
  margin: 0 auto;
  padding: 20px 0;
  width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.title {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.title_main {
  font-size: 20px;
  line-height: 24px;
}
input {
  font-size: inherit;
}
