.manage {
  margin: 0 auto;
  padding: 18px;
  display: flex;
  flex-direction: column;
  background-color: #fce4ec;
  border-radius: 30px;
  width: 300px;
  gap: 18px;
}
.categories-wrapper {
  border-radius: 20px;
  background-color: whitesmoke;
}
.categories__modal-wrapper {
  display: none;
  overflow: auto;
  transition: all 0.3 linear;
  height: 0;
}
.categories__modal-wrapper_active {
  display: block;
  overflow: auto;
  transition: all 0.3 linear;
  height: auto;
}
.categories__list {
  max-height: 600px;
  overflow-y: auto;
}
.categories__button {
  position: relative;
  display: block;
  transition: all 0.3 linear;
}
.button__span_right {
  position: absolute;
  right: 18px;
  transition: transform 0.3 linear;
  transform: rotateZ(0deg);
}
.button__span_down {
  position: absolute;
  right: 18px;
  transition: transform 0.3 linear;
  transform: rotateZ(90deg);
}
.categories__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px;
  background-color: whitesmoke;
  border-radius: 0 0 30px 30px;
  text-align: left;
  transition: all 0.3 linear;
}
.button {
  padding: 18px;
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  height: 50px;
  background-color: whitesmoke;
  outline: none;
  font-weight: 700;
  text-align: left;
}
.expense__input {
  background-color: whitesmoke;
  text-align: left;
}
.expense__input::placeholder {
  color: black;
  text-align: right;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.expense__button_add {
  background-color: #e1f5fe;
}

